/****** Script for SelectTopNRows command from SSMS  ******/
SELECT *  FROM [AdventureWorksDW2008R2].[dbo].[FactCallCenter]
SELECT  *  FROM [AdventureWorksDW2008R2].[dbo].[FactAdditionalInternationalProductDescription]
SELECT  *  FROM [AdventureWorksDW2008R2].[dbo].[FactInternetSales]

